* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

/* Card */
.card {
  background: rgba(255, 255, 255, 0.25);
  padding: 2rem;
  border-radius: 22px;
  text-align: center;
  backdrop-filter: blur(12px);
  z-index: 2;
  min-width: 300px;
}

.card h2 {
  color: white;
  margin-bottom: 1.5rem;
}

/* YES button */
.yes-btn {
  width: 100%;
  margin: 0.6rem 0;
  padding: 0.8rem;
  border-radius: 14px;
  border: none;
  font-size: 1rem;
  background: white;
  color: #ff5e78;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.yes-btn:hover {
  transform: scale(1.06);
}

/* NO button */
.no-btn {
  position: absolute;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: none;
  background: #ff5e78;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Floating hearts */
.hearts span {
  position: absolute;
  bottom: -20px;
  font-size: 1.6rem;
  animation: float 8s linear infinite;
}

@keyframes float {
  to {
    transform: translateY(-120vh) scale(1.6);
    opacity: 0;
  }
}

/* Final screen */
.final {
  text-align: center;
  color: white;
  z-index: 2;
}

.final h1 {
  font-size: 1.5rem;
}
.final p {
  font-size: 2rem;
  color:#ff5e78;
  font-weight: 800;
}

.heart-blast {
  font-size: 5rem;
  animation: blast 1.5s infinite alternate;
}

@keyframes blast {
  to {
    transform: scale(1.4);
  }
}

.final span {
  color: #ff5e78;
}

/* Sparkles */
.sparkles span {
  position: absolute;
  top: -10px;
  font-size: 1.2rem;
  animation: fall 6s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}
